In [41]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pymongo
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', 'chromedriver.exe', headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\simon\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
#  Assignment Steps:

# > Part I:  Scraping Data For Webpage
# >>  Step 1:  Scrape NASA Mars News Site

browser.visit('https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest')
html = browser.html
Mars_News_Soup = bs(html, 'html.parser')

In [9]:
# Can't determine why BS can't parse out the most recent articles, or in this case, even th preview text class object.

post_title = Mars_News_Soup.find_all('div', class_='content_title')[1].text
print(post_title)

post_preview_text = Mars_News_Soup.find_all('div', class_='article_teaser_body')[0].text
print(post_preview_text)

Another First: Perseverance Captures the Sounds of Driving on Mars
NASA’s newest rover recorded audio of itself crunching over the surface of the Red Planet, adding a whole new dimension to Mars exploration.

In [32]:
# >>  Step 2:  Grab JPL Mars Feature Space Image

mars_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(mars_image_url)

html_JPL_Image = browser.html
soup_JPL_Image = bs(html_JPL_Image, "html.parser")

mars_image = soup_JPL_Image.find('img', class_='headerimage fade-in')
mars_image["src"]

'image/featured/mars1.jpg'

In [39]:
mars_image_link = mars_image_url + mars_image["src"]
mars_image_link.replace("index.html","")

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg'

In [43]:
# >>  Step 3:  Scrape Mars Facts Tab

mars_facts_url = 'https://space-facts.com/mars/'

mars_facts_tables = pd.read_html(mars_facts_url)
mars_facts_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [50]:
# load read tabular data into pandas dataframe

mars_facts_df = mars_facts_tables[2]
mars_facts_df.columns=['Description', 'Info']
mars_facts_df.set_index('Description', inplace=True)
mars_facts_df.head()

                                               Info
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [52]:
# Convert into HTML Table

mars_facts_table = mars_facts_df.to_html()
mars_facts_table.replace("\n","")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Info</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
# > Part II:  Store Data in Mongo Database, Serve to webpage via Flask